doctype html
html(lang=ja)
  head
    include ../template/_header
    script(src='/js/auth/password_reset.js')
    title Reset Password
  body
    include ../template/_navbar
    .container(role='main')
      p パスワードをリセットします
      form#password(@submit.prevent, @submit='submit()')
        label 新しいパスワード
        input.form-control(type='password', v-model='password')
        label Retype
        input.form-control(type='password', v-model='retype')
        button.btn.btn-primary(type='submit') Reset
