
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
link(rel='stylesheet' href='/lib/bootstrap-material-design/css/bootstrap-material-design.min.css')
link(rel='stylesheet' href='/lib/bootstrap-material-design/css/ripples.min.css')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
script(src='/lib/bootstrap-material-design/js/ripples.min.js')
script(src='/lib/bootstrap-material-design/js/material.min.js')
