
meta(charset='utf-8')
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(v-model="viewport" content="width=device-width, initial-scale=1")

include ../template/_bootstrap

script(src='https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.0/es6-promise.auto.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
script(src='/js/common.js')
script $.material.init()
style
  | .btn.btn-xs {
  |   margin: 2px 1px;
  |   padding: 2px 15px;
  | }
