script(src='/js/navbar.js')
.navbar.navbar-warning
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') CameraNamazu
    #navs.navbar-collapse.collapse.navbar-responsive-collapse
      ul.nav.navbar-nav
        li
          a(href='/user.html') Graph
        li
          a(href='/uploader.html') Upload
      ul.nav.navbar-nav.navbar-right
        li
          a(v-if='session', href='#', @click='logout()') Logout
          a(v-else, href='#', @click='login()') Login
