.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') FactorioRecipe
    .navbar-collapse.collapse.navbar-responsive-collapse
      ul#navs.nav.navbar-nav
        li
          a(href='/') Recipe
        li
          a(href='/uploader.html') Uploader
