doctype html
html(lang=ja)
  head
    include template/_header
    title CameraNamazu
    //script(src='/js/index.js')
  body
    include template/_navbar
    .container(role=main)
      .jumbotron
        h1 CameraNamazu
