doctype html
html(lang=ja)
  head
    include template/_header
    title CameraNamazu Uploader
    script(src='/js/uploader.js')
  body
    include template/_navbar
    .container(role=main)
      form#uploader(action='/api/image', method='POST', enctype='multipart/form-data')
        .input-group
          label(for='inputFiles') File Input
          input#inputFiles.form-control(type='file', name='file', readonly='', multiple='multiple', placeholder='Browse...')
        button.btn.btn-primary(type='submit') Submit
        button#exif.btn.btn-primary(type='button') EXIF
    canvas#tmp(hidden)
