doctype html
html(lang=ja)
  head
    include template/_header
    title CameraNamazu Uploader
    script(src='/lib/minify_jpeg.js')
    script(src='/js/uploader.js')
    style.
      tr input[type="checkbox"] {
        margin: 0 0 0;
      }
  body
    include template/_navbar
    .container(role=main)
      h3 Update Images
      form#uploader
        .input-group
          label(for='inputFiles') File Input
          input#inputFiles.form-control(type='file', name='file', readonly='', multiple='multiple', placeholder='Browse...')
        button#exif.btn.btn-primary(type='button') Submit
      #results
        div(v-for='result in results')
          span.glyphicon.glyphicon-ok.text-success(v-if='result.success')
          span.glyphicon.glyphicon-remove.text-danger(v-else)
          span {{result.name}}: {{result.text}}
      h3 Uploaded images
      #images
        nav(aria-label='Page navigation')
          ul.pagination
            li(:class='{disabled: page < 1}')
              a(href='#', aria-label='Previous', @click='nextPage(page - 1)') &laquo;
            li(v-for='p in _.range(0, pageCount)', :class='{active: page == p}')
              a(href='#', v-text='p + 1', @click='nextPage(p)')
            li(:class='{disabled: (pageCount - 1) <= page}')
              a(href='#', aria-label='Next', @click='nextPage(page + 1)') &raquo;
        table.table.table-striped
          thead
            tr
              th
                span.checkbox-material
                  input(type='checkbox', v-model='allChecked')
              th Name
              th Shooting time
              th Uploading time
          tbody
            tr(v-for='img in images')
              td
                span.checkbox-material
                  input(type='checkbox', :value='img.id', v-model='checked')
              td(v-text='img.fileName')
              td(v-text='img.dateTime')
              td(v-text='img.createdAt')

        button.btn.btn-danger(type='button', @click='deletes()') Delete
