doctype html
html(lang=ja)
  head
    include template/_header
    title CameraNamazu Uploader
    script(src='/lib/minify_jpeg.js')
    script(src='/lib/vue-tables-2/vue-tables-2.min.js')
    script(src='/js/uploader.js')
    style.
      tr input[type="checkbox"] {
        margin: 0 0 0;
      }
  body
    include template/_navbar
    .container(role=main)
      h3 Upload Images
      form#uploader
        .input-group
          label(for='inputFiles') File Input
          input#inputFiles.form-control(type='file', name='file', readonly='', multiple='multiple', placeholder='Browse...')
        button#exif.btn.btn-primary(type='button') Submit
      #results
        div(v-for='result in results')
          span.glyphicon.glyphicon-ok.text-success(v-if='result.success')
          span.glyphicon.glyphicon-remove.text-danger(v-else)
          span {{result.name}}: {{result.text}}
      h3 Uploaded images
      #images
        v-server-table.table.table-striped(url='/api/images', :columns='columns', :options='options', ref='table')
          input.image-checkbox(type='checkbox', slot='checkbox', slot-scope='props', v-model='checkedRows', :value='props.row', :checked='props.row.checkbox')
          button.btn.btn-danger(type='button', slot='afterTable' @click='deleteImages') Delete
