doctype html
html(lang=ja)
  head
    include template/_header
    title CameraNamazu Graph
    script(src='/js/user.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js')
  body
    include template/_navbar
    .container(role=main)
      canvas#focalChart
      canvas#isoChart
      canvas#fNumberChart
      canvas#exposureChart
      .row
        .col-sm-6
          canvas#cameraChart
        .col-sm-6
          canvas#lensChart
